<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>659770646336-liofhq8c5v1t6f5j4tsv06hm1f6sa893.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.659770646336-liofhq8c5v1t6f5j4tsv06hm1f6sa893</string>
	<key>API_KEY</key>
	<string>AIzaSyDzaHCqXJz6TFiDNFWDQYi-lXodUgyh1yo</string>
	<key>GCM_SENDER_ID</key>
	<string>659770646336</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.trashManagement</string>
	<key>PROJECT_ID</key>
	<string>trash-management-c2783</string>
	<key>STORAGE_BUCKET</key>
	<string>trash-management-c2783.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:659770646336:ios:c9019dd926123982b064a5</string>
</dict>
</plist>